.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 80rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.625rem 0.625rem 0.625rem 0.625rem;
    padding: 0.625rem;
    border: 0.063rem solid #d5d5d5;
    border-radius: 1.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    background-color: white;
}

.image {
    width: 21rem;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 0.625rem;
    border-radius: 5%;
}

.details {
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-container {
    display: flex;
    align-items: center;
}

.tag {
    background-color: #cccbf1;
    color: #01a9b4;
    font-size: 0.938rem;
    padding: 0.313rem 0.625rem;
    border-radius: 0.313rem;
    margin-right: 10rem;
}

.price {
    font-weight: bold;
    margin-bottom: 0.313rem;
}

.title {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    padding-top: 1rem;
}

.buttonOne {
    margin-right: 1rem;
    background-color: #01A9B4;
    color: #fff;
    padding: 0.938rem 1.25rem;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 6rem;
}

.buttonTwo {
    margin-right: 1rem;
    background-color: #01A9B4;
    color: #fff;
    padding: 0.938rem 1.25rem;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 6rem;
}

.buttonOne:hover {
    background-color: #027e85;
}

.buttonTwo:hover {
    background-color: #027e85;
}