@import "../../constants/colors.module.css";

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 80%;
    margin: 0 auto;
    padding: 1.25rem;
    border-radius: 3.063rem;
    background-color: var(--CardBackgroundColor);
}

/* For small devices (phones) */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        height: auto;
        border-radius: 2rem;
        padding: 1rem;
        top: 50%;
    }
}

/* For medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 60%;
        height: auto;
        border-radius: 2.5rem;
        padding: 1.5rem;
    }
}

/**
    Nest Hub
 */
@media screen and (width: 1024px) and (height: 600px) {
    .container {
        width: 50%;
        height: auto;
        border-radius: 2.5rem;
        padding: 1.5rem;
    }
}

/**
    Galaxy Fold
 */
@media screen and (width: 280px) and (height: 653px) {
    .container {
        width: 80%;
        height: auto;
        border-radius: 2.5rem;
        padding: 1.5rem;
    }
}

