.services {
    padding-top: 1rem;
    padding-left: 25%;
}

@media (max-width: 1125px) {
    .filterBar {
        display: none;
    }

    .services {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
}