.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceButton {
    background-color: #01A9B4;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.serviceButton:hover {
    background-color: #027e85;
}
